html {
  font-size: 16px;
}
@media (max-width: 1150px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
body main {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}
body main header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 90px;
  padding: 0 7.5rem 0 7.5rem;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0 4px 4px rgba(13, 96, 111, 0.5);
}
@media (max-width: 800px) {
  body main header {
    background: none;
    box-shadow: none;
  }
}
body main header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main header .header__wrapper .header__wrapper__logo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 6px;
  height: 31px;
}
body main header .header__wrapper .header__wrapper__logo p {
  font-family: "Magra", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 39px;
  color: #ffffff;
}
body main header .header__wrapper nav {
  flex: 2;
}
body main header .header__wrapper nav ul {
  display: flex;
  gap: 2.625rem;
}
body main header .header__wrapper nav ul li {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #ffffff;
}
body main header .header__wrapper button {
  padding: 0.625rem 1.875rem;
  background-color: #0d606f;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-size: 1rem;
  line-height: 21px;
  color: #ffffff;
}
@media (max-width: 800px) {
  body main header .header__wrapper .header__wrapper__logo > p,
body main header .header__wrapper nav,
body main header .header__wrapper button {
    display: none;
  }
}
body main section {
  padding: 0 7.5rem 0 7.5rem;
}
body main section.explore {
  display: flex;
  background: url("assets/images/mountains-XL.jpg");
  height: 47.8125rem;
  padding-top: 120px;
  margin-bottom: 80px;
}
@media (max-width: 800px) {
  body main section.explore {
    margin-bottom: 20px;
  }
}
body main section.explore .explore__wrapper {
  flex: 3;
}
body main section.explore .explore__wrapper h1 {
  margin-bottom: 30px;
}
body main section.explore .explore__wrapper p {
  color: #ffffff;
  font-style: italic;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 24px;
  margin-bottom: 46px;
}
@media (max-width: 800px) {
  body main section.explore .explore__wrapper h1,
body main section.explore .explore__wrapper p {
    display: none;
  }
}
body main section.explore .explore__wrapper .explore__wrapper__search {
  position: relative;
  display: flex;
  align-items: center;
}
body main section.explore .explore__wrapper .explore__wrapper__search input {
  font-family: "Aleo", serif;
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  height: 95px;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: 0;
  outline: none;
  padding-left: 41px;
  color: #f2785c;
}
body main section.explore .explore__wrapper .explore__wrapper__search button {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 38px;
  color: #ffffff;
  position: absolute;
  right: 0;
  margin: 1.125rem 1.5rem 1.125rem 0;
  background: #0d606f;
  box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  padding: 0.625rem 2rem;
}
body main section.explore::after {
  content: "";
  flex: 1;
}
body main section.steps {
  margin-bottom: 97px;
}
@media (max-width: 800px) {
  body main section.steps {
    margin-bottom: 20px;
  }
}
body main section.steps .steps__wrapper h2 {
  margin-bottom: 41px;
}
@media (max-width: 800px) {
  body main section.steps .steps__wrapper h2 {
    margin-bottom: 20px;
  }
}
body main section.steps .steps__wrapper .steps__wrapper__icons {
  display: flex;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item {
  flex: 1;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item:first-child {
  display: flex;
  justify-content: flex-start;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item:last-child {
  display: flex;
  justify-content: flex-end;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item .steps__wrapper__icons-item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item .steps__wrapper__icons-item__wrapper .steps__wrapper__icons-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #f2785c;
  border-radius: 16px;
  margin-bottom: 30px;
}
body main section.steps .steps__wrapper .steps__wrapper__icons .steps__wrapper__icons-item .steps__wrapper__icons-item__wrapper p {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  color: #0d606f;
  text-align: center;
}
body main section.destinations {
  margin-bottom: 80px;
  overflow: hidden;
}
@media (max-width: 800px) {
  body main section.destinations {
    margin-bottom: 20px;
  }
}
body main section.destinations .destinations__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.destinations .destinations__wrapper h2 {
  margin-bottom: 46px;
}
@media (max-width: 800px) {
  body main section.destinations .destinations__wrapper h2 {
    margin-bottom: 20px;
  }
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__items {
  display: flex;
  justify-content: center;
  gap: 3.75rem;
  margin-bottom: 24px;
}
@media (max-width: 800px) {
  body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__items {
    margin-bottom: 0;
  }
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__items .destinations__wrapper__carousel__items-item {
  position: relative;
  display: flex;
  flex-direction: column;
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__items .destinations__wrapper__carousel__items-item img {
  border-radius: 16px;
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__items .destinations__wrapper__carousel__items-item p {
  position: absolute;
  bottom: 0;
  margin: 0 0 40px 15px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 42px;
  color: #ffffff;
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 800px) {
  body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__controls {
    position: absolute;
    bottom: 0;
  }
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__controls button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: rgba(242, 120, 92, 0.5);
}
body main section.destinations .destinations__wrapper .destinations__wrapper__carousel .destinations__wrapper__carousel__controls button.active {
  background: #f2785c;
}
body main section.stories {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 89.5%, rgba(255, 255, 255, 0) 89.5%), url("assets/images/footer-XL.png");
  background-position-y: 90px;
  background-repeat: no-repeat;
  height: 1421px;
}
@media (max-width: 800px) {
  body main section.stories {
    background-position-y: 30px;
    height: 1351px;
  }
}
body main section.stories .stories__wrapper h2 {
  margin-bottom: 79px;
}
@media (max-width: 800px) {
  body main section.stories .stories__wrapper h2 {
    margin-bottom: 20px;
  }
}
body main section.stories .stories__wrapper .stories__wrapper__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  margin-bottom: 40px;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article {
  display: flex;
  gap: 2.5rem;
  max-height: 260px;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article .stories__wrapper__articles__wrapper-story-item {
  overflow-y: auto;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article p,
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article a {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 24px;
  color: #0d606f;
}
body main section.stories .stories__wrapper .stories__wrapper__articles .stories__wrapper__articles__wrapper article a {
  text-decoration: underline;
  font-weight: bold;
}
body main footer {
  position: absolute;
  height: 25px;
  width: 100%;
  bottom: 0;
  margin-bottom: 14px;
  padding: 0 7.5rem 0 7.5rem;
}
@media (max-width: 800px) {
  body main footer {
    position: absolute;
    height: 65px;
    width: 100%;
    bottom: 0;
    padding: 0 7.5rem 0 7.5rem;
  }
}
body main footer .footer__wrapper {
  position: relative;
  text-align: center;
}
body main footer .footer__wrapper p {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 21px;
  color: #ffffff;
}
@media (max-width: 800px) {
  body main footer .footer__wrapper p {
    display: none;
  }
}
body main footer .footer__wrapper .footer__wrapper__socials {
  position: absolute;
  right: 0;
  bottom: -5px;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 800px) {
  body main footer .footer__wrapper .footer__wrapper__socials {
    position: relative;
    right: auto;
    bottom: auto;
    display: flex;
    justify-content: center;
    height: 35px;
    gap: 2.5rem;
  }
}

.arrow-button {
  padding: 0.625rem 2rem;
  background: #0d606f;
  box-shadow: 0 0 3px rgba(13, 96, 111, 0.08), 0 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 40px;
  color: #ffffff;
}
.arrow-button::before {
  content: url("assets/images/arrow.png");
  padding-right: 14px;
}

/*# sourceMappingURL=style.css.map */
